*{
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 80%;
}
.search{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.quotes{
    border-left: 2px solid;
    border-left-color: grey;
    border-right: 2px solid;
    border-right-color: grey;
}
.quote{
    /*width: 100%;*/
    font-size: 30px;
    /*font-weight: 600;*/
    border: 1px solid;
    border-color: grey;
    border-radius: 0px 0px 15px 15px;
    border-top: 0px;
    box-shadow: 1px 3px 13px 1px #ccc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.qauthor{
    margin-left: 15px;
    font-weight: 500;
    font-size: 25px;
    align-self: flex-end;
}
.quoters{
    display: flex;
}